// Whenever we have/want to diverge from govuk-frontend
.user-enabled-status {
  .govuk-table__cell {
    border-bottom: 0
  }
}

.group-link {
  border-bottom: 0
}

.homepage-content {
  margin-left: -300vw;
  margin-right: -300vw;
  padding: 30px 300vw;
  background: #f0f4f5;
  margin-bottom: -40px;
}
