// Whenever we have/want to diverge from govuk-frontend
.user-enabled-status {
  .govuk-table__cell {
    border-bottom: 0
  }
}

.group-link {
  border-bottom: 0
}

.homepage-content {
  margin-left: -14.8vw;
  margin-right: -14.8vw;
  padding: 30px 14.8vw;
  background: #f0f4f5;
  margin-bottom: -40px;
}

.link-button {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  text-decoration: underline;
  cursor: pointer;
  color: $govuk-link-colour;
}

.govuk-tag {
  max-width: 200px;
}