{% from "govuk/components/footer/macro.njk" import govukFooter %}

{{ 
  govukFooter({
    navigation: [
      {
        title: "Useful links",
        items: [
          {
            href: dpsUrl + "/features",
            text: "Features"
          },
          {
            href: dpsUrl + "/roadmap",
            text: "Roadmap"
          },
          {
            href: dpsUrl + "/support",
            text: "Support"
          },
          {
            href: dpsUrl + "/whats-new",
            text: "What's new"
          }
        ]
      }
    ],
    meta: {
      items: [
        {
          href: "mailto:feedback@digital.justice.gov.uk",
          text: "Contact"
        },
        {
          href: dpsUrl + "/terms-conditions",
          text: "Terms and conditions"
        }
      ]
    },
    classes: "govuk-!-display-none-print"
  }) 
}}
