<form method="GET" action="{{ searchUrl }}/results" class='external-search__form'>
  <input type='hidden' name='roleCode' value='{{ roleCode }}'/>
  <input type='hidden' name='groupCode' value='{{ groupCode }}'/>
  <input type='hidden' name='user' value='{{ username }}'/>
  <h2 class="govuk-heading-m">Filter by</h2>
  <div class='horizontal-form'>
    {{ govukSelect({label: {
      text: "Status"
    },
      idPrefix: 'status',
      name: 'status',
      id: 'status',
      items: [
        {text: 'Active', value:'ACTIVE'},
        {text: 'Inactive', value:'INACTIVE'},
        {text: 'All', value:'ALL'}
      ] | setSelected(status)
    }) }}
    {{ govukSelect({label: {
      text: "Active caseload"
    },
      idPrefix: 'activeCaseload',
      name: 'activeCaseload',
      id: 'activeCaseload',
      items: caseloads | addDefaultSelectedValue('Any', true) | setSelected(activeCaseload)
    }) if user.maintainAccessAdmin }}
    {{ govukButton({
      text: "Filter",
      type: "submit",
      attributes: { "data-qa": "filter-button" }
    }) }}
  </div>
</form>
<p class='govuk-body'></p>
