{% extends "../../partials/layout.njk" %}
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% set title = "Change user roles in bulk" %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      { text: "Home", href: homeUrl },
      { text: "Manage user accounts", href: '/' },
      { text: title }
    ]
  }) }}
{% endblock %}

{% block content %}

  {% if errors.length > 0 %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errors,
      attributes: { 'data-qa': 'error-summary' }
    }) }}
  {% endif %}

  {% set hintHtml %}
    <p>The file must:</p>
    <ul>
      <li>Contain a single column - "userId"</li>
      <li>Include a header row</li>
      <li>Contain 1 or more rows</li>
    </ul>
  {% endset %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Upload users</h1>

      <form action="{{ uploadUsersUrl }}" method="post" enctype="multipart/form-data">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

        {{ govukFileUpload({
          id: "upload-users-file",
          name: "file",
          isPageHeading: false,
          attributes: { accept: ".csv" },
          label: {
            text: "Upload users csv",
            classes: "govuk-table__caption--m"
          },
          javascript: true,
          hint: { html: hintHtml },
          errorMessage: errors | findError('upload-users-file')
        }) }}

        {{ govukButton({
          text: "Upload",
          id: "upload-users-file-upload",
          preventDoubleClick: true
        }) }}

        {{ govukButton({
          text: "Back",
          element: 'a',
          href: backUrl,
          classes: "govuk-button--secondary",
          attributes: { id: "upload-users-back" }
        }) }}

      </form>
    </div>
  </div>

{% endblock %}
