{% from "govuk/components/button/macro.njk" import govukButton %}
{%- from "moj/components/badge/macro.njk" import mojBadge -%}

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">User ID</th>
      <th scope="col" class="govuk-table__header">Role Code</th>
      <th scope="col" class="govuk-table__header">Status</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
  {% for row in params.details.report %}
    {% set cellClass = "govuk-table__cell" if not loop.last else "govuk-table__cell-no-border" %}
    {% if row.status == 200 %}
      {% set statusClass = "moj-badge--green" %}
      {% set statusText = "Success" %}
    {% elseif row.status == 409 %}
      {% set statusClass = "moj-badge--purple" %}
      {% set statusText = "Role already assigned" %}
    {% elseif row.status == 404 %}
      {% set statusClass = "moj-badge--grey" %}
      {% set statusText = "User not found" %}
    {% else %}
      {% set statusClass = "moj-badge--red" %}
      {% set statusText = "Error" %}
    {% endif %}
    <tr>
      <td class="{{ cellClass }}">{{ row.user }}</td>
      <td class="{{ cellClass }}">{{ row.role }}</td>
      <td class="{{ cellClass }}">{{ mojBadge({ text: statusText, classes: statusClass }) }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>