{% extends "./partials/layout.njk" %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set title =  "Select group" %}

 {% block beforeContent %}
   {{ govukBreadcrumbs({
     items: [
       { text: "Home", href: homeUrl },
       { text: "Manage user accounts", href: '/' },
       { text: maintainTitle, href: maintainUrl },
       { text: staff.name, href: staffUrl },
       { text: title }
     ]
   }) }}
 {% endblock %}

{% block content %}
  {% if errors.length > 0 %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errors,
      attributes: { 'data-qa-errors': true }
    }) }}
  {% endif %}
  <div class="govuk-grid-row">
    <h1 class="govuk-heading-l">{{ title }}</h1>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {% if groupDropdownValues.length == 0 %}
          <p class="govuk-body" data-qa="no-groups">
            There are no groups available for you to assign.
          </p>
        {% endif %}
        <form method="POST">
          {{ govukSelect({
            idPrefix: 'group',
            name: 'group',
            id: 'group',
            items: groupDropdownValues,
            errorMessage: errors | findError('group')
          }) }}

          {{ govukButton({
            text: "Confirm",
            type: "submit",
            attributes: { "data-qa": "add-button" }
          }) }}

          {{ govukButton({
            text: "Cancel",
            element: 'a',
            href: staffUrl,
            classes: "govuk-button--secondary"
          }) }}
        </form>
      </div>
    </div>
  </div>
{% endblock %}
