{% extends "./partials/layout.njk" %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

  {{ super() }}
<link href="/assets/accessible-autocomplete.min.css" rel="stylesheet" />
{% endblock %}

{% set title =  "Select roles" %}

 {% block beforeContent %}
   {{ govukBreadcrumbs({
     items: [
       { text: "Home", href: homeUrl },
       { text: "Manage user accounts", href: '/' },
       { text: maintainTitle, href: maintainUrl },
       { text: staff.name, href: staffUrl },
       { text: title }
     ]
   }) }}
 {% endblock %}

{% block content %}
  {% if errors.length > 0 %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errors,
      attributes: { 'data-qa-errors': true }
    }) }}
  {% endif %}
  <div class="govuk-grid-row">
    <h1 class="govuk-heading-l">{{ title }}</h1>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {% if roleDropdownValues.length == 0 %}
          <p class="govuk-body" data-qa="no-roles">
            There are no roles available for you to assign.
          </p>
        {% endif %}
        <form method="POST">
          {{ govukCheckboxes({
            idPrefix: 'roles',
            name: 'roles',
            items: roleDropdownValues | addBlankOptions('Select a role'),
            errorMessage: errors | findError('roles')
          }) }}

          {{ govukButton({
            text: "Confirm",
            type: "submit",
            attributes: { "data-qa": "add-button" }
          }) }}

          {{ govukButton({
            text: "Cancel",
            element: 'a',
            href: staffUrl,
            classes: "govuk-button--secondary"
          }) }}
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  <script src="/assets/accessible-autocomplete.min.js"></script>
  <script>
    accessibleAutocomplete.enhanceSelectElement({
      selectElement: document.querySelector('#roles'),
      showAllValues: true,
      preserveNullOptions: true,
    })
  </script>
{% endblock %}
