{% extends "./partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% set title =  title %}

{% block content %}
  {% if errors.length > 0 %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errors,
      attributes: { 'data-qa-errors': true }
    }) }}
  {% endif %}
  <div class="govuk-grid-row">
    <h1 class="govuk-heading-l">{{ title }}</h1>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form method="POST">
          {{ govukInput({
            value: currentRoleName,
            id: "roleName",
            name: "roleName",
            errorMessage: errors | findError('roleName')
          }) }}

          {{ govukButton({
            text: "Confirm",
            type: "submit",
            classes: "govuk-!-margin-right-1",
            attributes: { "data-qa": "confirm-button" }
          }) }}

          {{ govukButton({
            text: "Cancel",
            element: 'a',
            href: roleUrl,
            classes: "govuk-button--secondary",
            attributes: { "id": "cancel-button" }
          }) }}
        </form>
      </div>
    </div>
  </div>
{% endblock %}
