{% extends "./partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/select/macro.njk" import govukSelect %}

{% block header %}
  {{ super() }}
  <link href="/assets/accessible-autocomplete.min.css" rel="stylesheet" />
{% endblock %}

 {% block beforeContent %}
   {{ govukBreadcrumbs({
     items: [
       { text: "Home", href: homeUrl },
       { text: "Manage user accounts", href: '/' },
       { text: "Create a DPS user" }
     ]
   }) }}
 {% endblock %}

{% block content %}
  {% if errors.length > 0 %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errors,
      attributes: { 'data-qa-errors': true }
    }) }}
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h1 class="govuk-heading-l">Create a Linked DPS General User</h1>
      <form method="POST">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        <input type="hidden" name="userType" value="{{ user }}" />

        {{ govukInput({label: {
          text: "Existing Admin Username"
        },
          classes: "govuk-input--width-20",
          value: adminUsername,
          id: "adminUsername",
          name: "adminUsername",
          errorMessage: errors | findError('adminUsername')
        }) }}
        {{ govukButton({
           text: "Search and populate user details",
           type: "submit",
           id: "searchUser",
           name: "searchUser",
           value: "DPS_GEN",
           classes: "govuk-!-margin-right-1",
           attributes: { "data-qa": "create-button" }
        }) }}
        {{ govukInput({label: {
            text: "General Username"
        },
          classes: "govuk-input--width-20",
          value: generalUsername,
          id: "generalUsername",
          name: "generalUsername",
          errorMessage: errors | findError('generalUsername')
        }) }}
        {{ govukInput({label: {
          text: "Email address"
        },
          classes: "govuk-input--width-25",
          value: email,
          id: "email",
          name: "email",
          errorMessage: null
        }) }}
        {{ govukInput({label: {
          text: "First name"
        },
          classes: "govuk-input--width-20",
          value: firstName,
          id: "firstName",
          name: "firstName",
          errorMessage: null
        }) }}
        {{ govukInput({label: {
          text: "Last name"
        },
          classes: "govuk-input--width-20",
          value: lastName,
          id: "lastName",
          name: "lastName",
          errorMessage: null
        }) }}

        {% if showCaseloadDropdown %}
          <div class="govuk-list">
            {{ govukSelect({label: {
              text: caseloadTitle
            },
              idPrefix: 'defaultCaseloadId',
              name: 'defaultCaseloadId',
              id: 'defaultCaseloadId',
              items: caseloadDropdownValues | setSelected(defaultCaseloadId) | addBlankOptions(caseloadTitle) ,
              errorMessage: errors | findError('defaultCaseloadId')
            }) }}
          </div>
        {% endif %}

        {{ govukButton({
          text: "Create and Link General User",
          type: "submit",
          id: "createUser",
          name: "createUser",
          value: "create-gen",
          classes: "govuk-!-margin-right-1",
          attributes: { "data-qa": "create-button" }
        }) }}

        {{ govukButton({
          text: "Cancel",
          element: 'a',
          href: '/',
          classes: "govuk-button--secondary"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}

{% if showCaseloadDropdown %}
  {% block pageScripts %}
    <meta name="autocompleteElements" content="defaultCaseloadId"/>
    <script src="/assets/accessible-autocomplete.min.js"></script>
    <script src="/js/autocomplete.js"></script>
  {% endblock %}
{% endif %}
