{% extends "./partials/layout.njk" %}
{%- from "govuk/components/table/macro.njk" import govukTable -%}

{% set title =  "Group details" %}

 {% block beforeContent %}
   {{ govukBreadcrumbs({
     items: [
       { text: "Home", href: homeUrl },
       { text: "Manage user accounts", href: '/' },
       { text: 'Manage groups', href: maintainUrl },
       { text: title }
     ]
   }) }}
 {% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ title }}</h1>

      {{ govukTable({
        rows: [
          [
            {text: "Group Name"},
            {text: groupDetails.groupName },
            {text: ''}
          ],
          [
            {text: "Group code"},
            {text: groupDetails.groupCode },
            {text: ''}
          ]
        ]
      }) }}

      <p class="govuk-heading-s">Assignable roles</p>
      <ul class="govuk-list">
        {% for role in groupDetails.assignableRoles %}
          <li>
            {{ role.roleName }}
          </li>
        {% endfor %}
      </ul>

      <p class="govuk-heading-s">Child groups</p>
      <ul class="govuk-list">
        {% for children in groupDetails.children %}
          <li>
            {{ children.groupName }}
          </li>
        {% endfor %}
      </ul>


    </div>
  </div>
{% endblock %}
