{% extends "./partials/layout.njk" %}
{%- from "govuk/components/button/macro.njk" import govukButton -%}
{%- from "govuk/components/table/macro.njk" import govukTable -%}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set title =  groupDetails.groupName %}

 {% block beforeContent %}
   {{ govukBreadcrumbs({
     items: [
       { text: "Home", href: homeUrl },
       { text: "Manage user accounts", href: '/' },
       { text: 'Manage groups', href: maintainUrl },
       { text: title }
     ]
   }) }}
 {% endblock %}


{% block content %}
{% if errors.length > 0 %}
  <div class="govuk-grid-column-two-thirds">
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errors,
      attributes: { 'data-qa-errors': true }
    }) }}
  </div>
{% endif %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% set heading = '<h1 class="govuk-heading-l">' +  title  + '</h1>' %}

    {% if hasMaintainAuthUsers and groupDetails.children.length > 0%}
    {{ govukTable({

      rows: [
        [
          {html: heading, colspan: 2, rowspan: 2},
          {
            html: '<a href="' + maintainUrl + '/' + groupDetails.groupCode  + '/change-group-name" class="govuk-link" data-qa="change-group-name-link">Change <span class="govuk-visually-hidden"> group name</span> </a>',
            classes: 'govuk-!-width-one-quarter group-link',
            format: "numeric"
          }
        ],
        [
          {
            html: '<a href="' + maintainUrl + '/' + groupDetails.groupCode  + '/delete/children/some" class="govuk-link" data-qa="delete-group-link-child">Delete <span class="govuk-visually-hidden"> group name</span> </a>',
            classes: 'govuk-!-width-one-quarter',
            format: "numeric"
          }
        ]
      ]
    }) }}
    {% elseif hasMaintainAuthUsers and groupDetails.children.length < 1 %}
      {{ govukTable({

        rows: [
          [
            {html: heading, colspan: 2, rowspan: 2},
            {
              html: '<a href="' + maintainUrl + '/' + groupDetails.groupCode  + '/change-group-name" class="govuk-link" data-qa="change-group-name-link">Change <span class="govuk-visually-hidden"> group name</span> </a>',
              classes: 'govuk-!-width-one-quarter  group-link',
              format: "numeric"
            }
          ],
          [
            {
              html: '<a href="' + maintainUrl + '/' + groupDetails.groupCode  + '/delete/children/none" class="govuk-link" data-qa="delete-group-link-no-child">Delete <span class="govuk-visually-hidden"> group name</span> </a>',
              classes: 'govuk-!-width-one-quarter',
              format: "numeric"
            }
          ]
        ]
      }) }}
      {% else %}
        {{ govukTable({
        rows: [
          [
            {html: heading, colspan: 2, rowspan: 2},
            {text: ''}
          ],
          [
            {text: ''}
          ]
        ]
      }) }}


    {{ govukTable({
      rows: [
        [
          {text: "Group code"},
          {text: groupDetails.groupCode },
          {text: ''}
        ]
      ]
    }) }}
    {% endif %}

    {% set rows = [] %}
    {% for role in groupDetails.assignableRoles %}
    {% if role.automatic %}
    {% set auto = '<strong class="govuk-tag govuk-tag--turquoise"> Automatic </strong>' %}
    {% else %}
    {% set auto = '<strong class="govuk-tag govuk-tag--blue"> Manual </strong>' %}
    {% endif %}

    {% set rows = (rows.push([
      { text: role.roleName },
      { html: auto }
    ]), rows) %}
    {% endfor %}

    {{ govukTable({
      caption: "Assignable roles",
      rows: rows,
      attributes: { "data-qa": "assignable-roles" }
    }) }}

    {% if groupDetails.children.length > 0 %}
    {% set rows = [] %}
    {% for cg in groupDetails.children %}
    {% set changeChildGroupLink = '<a href="' + maintainUrl + '/' + groupDetails.groupCode + '/change-child-group-name/' + cg.groupCode + '" class="govuk-link" data-qa="edit-button-'
    + cg.groupName +'">Change <span class="govuk-visually-hidden"> child group name</span> </a>' %}
    {% set deleteChildGroupLink = '<a href="' + maintainUrl + '/' + groupDetails.groupCode + '/delete-child-group/' + cg.groupCode + '" class="govuk-link" data-qa="delete-button-'
    + cg.groupName +'">Delete <span class="govuk-visually-hidden"> child group name</span> </a>' %}
    {% if hasMaintainAuthUsers %}
    {% set rows = (rows.push([
      { text: cg.groupName },
      { text: cg.groupCode },
      { html: changeChildGroupLink, format: "numeric"},
      { html: deleteChildGroupLink, format: "numeric"}
    ]), rows) %}
    {% else %}
    {% set rows = (rows.push([
      { text: cg.groupName },
      { text: cg.groupCode },
      { text: ''},
      { text: ''}
    ]), rows) %}
    {% endif %}
    {% endfor %}
    {{ govukTable({
      caption: "Child groups",
      rows: rows,
      attributes: { "data-qa": "child-groups" }
    }) }}
    {% endif %}

    {% if hasMaintainAuthUsers %}
    {{ govukButton({
      text: "Create child group",
      element: 'a',
      href: maintainUrl + '/' + groupDetails.groupCode + '/create-child-group',
      classes: "govuk-button",
      attributes: { "data-qa": "create-child-group-button" }
    }) }}
    {% endif %}

    {% set searchUrl = '/search-external-users/results?groupCode='+ groupDetails.groupCode %}

    <p class="govuk-body">
      <a href="{{ searchUrl }}" class="govuk-link" data-qa="search-link">Search for members of this group</a>
    </p>

  </div>
</div>
{% endblock %}
