{% extends "./partials/layout.njk" %}

{% set title =  "Manage user accounts" %}

 {% block beforeContent %}
   {{ govukBreadcrumbs({
     items: [
       {
         text: "Home",
         href: homeUrl
       },
       {
         text: title
       }
     ]
   }) }}
 {% endblock %}

{% set hasMaintainNomisRolesAccess = user and (user.maintainAccess or user.maintainAccessAdmin) %}
{% set hasMaintainAuthUsers = user and (user.maintainAuthUsers or user.groupManager) %}

{% block content %}
  <div class="govuk-grid-row">
    <h1 class="govuk-heading-l">{{ title }}</h1>

    <div class="govuk-grid-row">
      {% if hasMaintainNomisRolesAccess or hasMaintainAuthUsers %}
        {% if hasMaintainNomisRolesAccess %}
          <div class="govuk-grid-column-one-third">
            <h3 class="govuk-heading-m">
              <a href="/search-dps-users" id="maintain_roles_link" class="govuk-link">
                Search for a DPS user
              </a>
            </h3>
          </div>
        {% endif %}
        {% if hasMaintainAuthUsers %}
          <div class="govuk-grid-column-one-third">
            <h3 class="govuk-heading-m">
              <a href="/search-external-users" id="maintain_auth_users_link" class="govuk-link">
                Search for an external user
              </a>
            </h3>
          </div>
          <div class="govuk-grid-column-one-third">
            <h3 class="govuk-heading-m">
              <a href="/create-external-user" id="create_auth_user_link" class="govuk-link">
                Create an external user
              </a>
            </h3>
          </div>
        {% endif %}

      {% else %}
        <p class="govuk-body" data-qa="no-admin-functions-message">
          There are no admin functions associated with your account.
        </p>
      {% endif %}
    </div>
  </div>
{% endblock %}
