{% extends "./partials/layout.njk" %}
{% set mainClasses = "govuk-main-wrapper--l" %}

{% set title =  "Manage user accounts" %}

 {% block beforeContent %}
     {{ govukBreadcrumbs({
         items: [
             {
                 text: "Home",
                 href: homeUrl
             },
             {
                 text: title
             }
         ]
     }) }}
 {% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">{{ title }}</h1>
            <p class="govuk-body">
                Manage user roles
            </p>
            <p class="govuk-body">
                Maintain auth users
            </p>
        </div>
    </div>
{% endblock %}
