{% extends "./partials/layout.njk" %}
{%- from "govuk/components/select/macro.njk" import govukSelect -%}
{%- from "govuk/components/button/macro.njk" import govukButton -%}
{%- from "govuk/components/table/macro.njk" import govukTable -%}
{%- from "govuk/components/error-summary/macro.njk" import govukErrorSummary -%}
{%- from "moj/components/pagination/macro.njk" import mojPagination -%}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}

{% block header %}
  {{ super() }}
  <link href="/assets/accessible-autocomplete.min.css" rel="stylesheet" />
{% endblock %}

{% set title = "Manage roles" %}

 {% block beforeContent %}
   {{ govukBreadcrumbs({
     items: [
       { text: "Home", href: homeUrl },
       { text: "Manage user accounts", href: '/' },
       { text: title }
     ]
   }) }}
 {% endblock %}

{% block content %}
  {% if errors.length > 0 %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errors,
      attributes: { 'data-qa-errors': true }
    }) }}
  {% endif %}

  <div class="govuk-grid-row">
    <h1 class="govuk-heading-l">{{ title }}</h1>

    <div class="govuk-grid-row">
      {{ mojPagination(pagination) }}
      {% set rows = [] %}
      {% for r in roles %}
        {% set roleLink %}
          <a href="{{ maintainUrl }}/{{ r.roleCode }}" class="govuk-link" data-qa="edit-button-{{ r.roleName }}">{{ r.roleName }}</a>
        {% endset %}
        {% set admin %}
          {%  for a in r.adminType %}
              {{ govukTag({
                text: "DPS ADMIN",
                classes: "govuk-tag--purple"
              }) if a.adminTypeCode === "DPS_ADM" }}
              {{ govukTag({
                text: "DPS LSA",
                classes: "govuk-tag--blue"
              }) if a.adminTypeCode === "DPS_LSA" }}
              {{ govukTag({
                text: "EXT ADMIN",
                classes: "govuk-tag--turquoise"
              }) if a.adminTypeCode === "EXT_ADM" }}
          {% endfor %}
        {% endset %}
        {% set rows = (rows.push([
          { html: roleLink },
          { text: r.roleDescription },
          { html: admin }
        ]), rows) %}
      {% endfor %}
      {{ govukTable({
        head: [
          { text: "Role Name" },
          { text: "Role Description" },
          { text: "Who can administer the role" }
        ],
        rows: rows,
        attributes: { "data-qa": "roles" }
      }) }}
      {{ mojPagination(pagination) }}
      </div>
    </div>
  </div>
{% endblock %}
