{% extends "./partials/layout.njk" %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "moj/components/filter/macro.njk" import mojFilter %}
{% from "moj/components/pagination/macro.njk" import mojPagination %}
{% from "./components/multiselectfilter/macro.njk" import multiSelectFilter %}

{% block header %}
  {{ super() }}
  <link href="/assets/accessible-autocomplete.min.css" rel="stylesheet" />
{% endblock %}

{% set title = "Search for a DPS user" %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      { text: "Home", href: homeUrl },
      { text: "Manage user accounts", href: '/' },
      { text: title }
    ]
  }) }}
{% endblock %}

{% block content %}

{% set filterOptionsHtml %}
    {{ govukInput({
      label: { text: "Name, username or email address", classes: "govuk-label--s" },
      classes: "govuk-input--width-20 govuk-fieldset__legend--s",
      value: currentFilter.user,
      id: "user",
      name: "user",
      hint: { 
        text: "Will match the user's name, username or verified email address"
      },
      errorMessage: errors | findError('user')
    }) }}

    {{ govukRadios({
      idPrefix: 'status',
      name: 'status',
      classes: 'govuk-radios--small govuk-radios--inline',
      fieldset: {
        legend: {
          text: 'Status',
          classes: 'govuk-label--s'
        }
      },
      hint: {
        text: 'Display active or inactive users only'
      },
      items: [
        {
          value: 'ALL',
          text: 'All',
          checked: currentFilter.status === 'ALL'
        },
        {
          value: 'ACTIVE',
          text: 'Active',
          checked: currentFilter.status === 'ACTIVE'
        },
        {
          value: 'INACTIVE',
          text: 'Inactive',
          checked: currentFilter.status === 'INACTIVE'
        }
      ]
    }
    )}}

    {% if showPrisonDropdown %}
      {{ govukSelect({label: {
        text: "Prison caseload",
        classes: 'govuk-label--s'
      },
        idPrefix: 'groupCode',
        name: 'groupCode',
        id: 'groupCode',
        items: prisonDropdownValues | addBlankOptions('Select a caseload') | setSelected(currentFilter.groupCode[0]),
        formGroup: {
          classes: 'govuk-!-margin-bottom-3'
        },
        errorMessage: errors | findError('groupCode')
      }) }}
      {{ govukRadios({
          idPrefix: 'restrictToActiveGroup',
          name: 'restrictToActiveGroup',
          classes: 'govuk-radios--small govuk-radios--inline',
          hint: {
            text: 'Will match users that currently have their active caseload set to the selected prison'
          },
          fieldset: {
            legend: {
              text: 'Active caseload only',
              classes: 'govuk-label'
            }
          },
          items: [
            {
              value: 'true',
              text: 'Yes',
              checked: currentFilter.restrictToActiveGroup !== false
            },
            {
              value: 'false',
              text: 'No',
              checked: currentFilter.restrictToActiveGroup === false
            }
          ]
        }
        )}}
    {% endif %}
    <div class="govuk-list">
     {{multiSelectFilter({
       name: 'roleCode',
       title: 'Role',
       hint: 'Will match users that have all roles that are selected',
       items: roleDropdownValues  | setChecked(currentFilter.roleCode)
      })}}
    </div>
  {% endset %}

  <div class="govuk-grid-row govuk-body">
    <h1 class="govuk-heading-l">{{ title }}</h1>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div class="moj-filter-layout">
        <div class="moj-filter-layout__filter">
        <form id="filter-form" action="{{ searchUrl }}" novalidate>
          {{ mojFilter(currentFilter | toUserSearchFilter(prisonDropdownValues, roleDropdownValues, filterOptionsHtml, showPrisonDropdown))}}
        </form>
        </div>
        <div class="moj-filter-layout__content">
            <div>
              <div class="govuk-grid-column-full">
              <div class="moj-action-bar__filterTagsContainer govuk-!-margin-bottom-5"></div>
              {% if results.length %}
                {{ mojPagination(pagination) }}

                {% set rows = [] %}
                {% for u in results %}
                  {% set maintainUserUrl = maintainUrl + '/' + u.username + '/details' %}
                  {% set cellHtml %}
                    <div class="govuk-!-margin-bottom-5">
                      <div class="govuk-grid-row govuk-!-margin-bottom-2">
                        <div class="govuk-grid-column-three-quarters">
                          <a href="{{maintainUserUrl}}" class="govuk-link" data-qa="edit-button-{{u.username}}">{{u.firstName}}&nbsp;{{u.lastName}}</a><span> - {{u.username}}</span>
                        </div>
                        <div class="govuk-grid-column-one-quarter  pull-right">
                          <a href="{{maintainUserUrl}}" class="govuk-link">View details</a>
                          <span class="govuk-visually-hidden">for {{u.firstName}}&nbsp;{{u.lastName}}</span>
                        </div>
                      </div>
                      <div class="govuk-grid-row govuk-!-margin-bottom-2">
                        <div class="govuk-grid-column-full"><span class="govuk-visually-hidden">Email</span><span>{{u.email}}</span></div>
                      </div>
                      <div class="govuk-grid-row govuk-!-margin-bottom-2">
                        <div class="govuk-grid-column-full">
                          <div class="govuk-grid-row">
                            <div class="govuk-grid-column-one-half">
                              <span class="govuk-visually-hidden">Status</span>
                                {{ govukTag({
                                  text: u.status,
                                  classes: "govuk-tag--pink"
                                }) if not u.active }}
                                {{ govukTag({
                                  text: "Active",
                                  classes: "govuk-tag--green"
                                }) if u.active }}
                                {% if u.activeCaseload %}
                                  <span>{{u.activeCaseload.name}}</span>
                                {% endif %}
                            </div>
                            <div class="govuk-grid-column-one-half pull-right">
                              {% if u.dpsRoleCount == 0 %}
                              <span>No DPS roles</span>
                              {% elif u.dpsRoleCount == 1 %}
                              <span>{{u.dpsRoleCount}} DPS role</span>
                              {% else %}
                              <span>{{u.dpsRoleCount}} DPS roles</span>
                              {% endif %}
                            </div>
                          </div>
                      </div>
                      </div>
                    </div>
                  {% endset %}

                    {% set rows = (rows.push([
                      { html: cellHtml }
                    ]), rows) %}
                  {% endfor %}

                  {{ govukTable({
                    rows: rows
                  }) }}
                {{ mojPagination(pagination) }}
                {% if downloadUrl %}
                  {% if hideDownloadLink %}
                     <p class="govuk-body" data-qa="exceed-download-limit"><b>More than {{ downloadRecordLimit }} results returned, please refine your search if you want to download the results</b></p>
                    {% else %}
                     <div class="pull-right">
                        {{ govukButton({
                           text: "Download results",
                           href: downloadUrl,
                           preventDoubleClick: true,
                           classes: "govuk-button",
                           attributes: { "data-qa": "download" }
                          }) }}
                        </div>
                  {% endif %}
                {% endif %}
              {% else %}
                <p class="govuk-body" data-qa="no-results">No records found matching search criteria.</p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block pageScripts %}
  <meta name="autocompleteElements" content="groupCode,roleCode"/>
  <script src="/assets/accessible-autocomplete.min.js"></script>
  <script src="/js/autocomplete.js"></script>
  <script src="/js/moj-filter-button-toggle.js"></script>
{% endblock %}