{% extends "./partials/layout.njk" %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block header %}
  {{ super() }}
  <link href="/assets/accessible-autocomplete.min.css" rel="stylesheet" />
{% endblock %}

{% set title = "Search for a DPS user " if dpsSearch else  "Search for an external user " %}

 {% block beforeContent %}
   {{ govukBreadcrumbs({
     items: [
       { text: "Home", href: homeUrl },
       { text: "Manage user accounts", href: '/' },
       { text: title }
     ]
   }) }}
 {% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <h1 class="govuk-heading-l">{{ title }}</h1>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-{{ "one-half" if dpsSearch else "two-thirds" }}">
        <form method="GET" action="{{ searchUrl }}/results">
          {{ govukInput({
            label: { text: "Name or username" if dpsSearch else "Name, username or email address" },
            classes: "govuk-input--width-20",
            value: username,
            id: "user",
            name: "user",
            errorMessage: errors | findError('user')
          }) }}
          <input type='hidden' name='status' value='ALL' />
          {% if showGroupOrPrisonDropdown %}
          <div class="govuk-list">
            {{ govukSelect({label: {
              text: "Select a " + groupOrPrison
            },
              idPrefix: 'groupCode',
              name: 'groupCode',
              id: 'groupCode',
              items: groupOrPrisonDropdownValues | addBlankOptions('Select a ' + groupOrPrison),
              errorMessage: errors | findError('groupCode')
            }) }}
          </div>
          {% endif %}
          <div class="govuk-list">
            {{ govukSelect({label: {
              text: "Select a role"
            },
              idPrefix: 'roleCode',
              name: 'roleCode',
              id: 'roleCode',
              items: roleDropdownValues | addBlankOptions('Select a role'),
              errorMessage: errors | findError('roleCode')
            }) }}
          </div>
          {{ govukButton({
            text: "Search",
            type: "submit",
            attributes: { "data-qa": "search-button" }
          }) }}
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  <script src="/assets/accessible-autocomplete.min.js"></script>
  <script>
    {%- if showGroupOrPrisonDropdown %}
    accessibleAutocomplete.enhanceSelectElement({
      selectElement: document.querySelector('#groupCode'),
      showAllValues: true,
      preserveNullOptions: true,
    })
    {%- endif %}
    accessibleAutocomplete.enhanceSelectElement({
      selectElement: document.querySelector('#roleCode'),
      showAllValues: true,
      preserveNullOptions: true,
    })
  </script>
{% endblock %}
