{% extends "./partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% set title =  "Bulk user roles request details" %}

 {% block beforeContent %}

   {{ govukBreadcrumbs({
     items: [
       { text: "Home", href: homeUrl },
       { text: "View bulk roles changes", href: '/view-bulk-role-changes/requests' },
       { text: details.id }
     ]
   }) }}

   {{ govukBackLink({
     text: "Back",
     href: "/view-bulk-role-changes/requests"
   }) }}
  {% endblock %}

{% block content %}

  {% if getRequestDetailsError %}
    {{ govukErrorSummary({
      titleText: "There was a problem",
      errorList: [
        { text: getRequestDetailsError }
      ],
      attributes: { 'data-qa-errors': true }
    }) }}
  {% endif %}

  <h1 class="govuk-heading-l">Bulk user roles change</h1>

  {% set jiraLink %}
    <a href="https://dsdmoj.atlassian.net/browse/{{ details.jiraReference }}" class="govuk-body govuk-link noDoubleClick">{{ details.jiraReference }}</a>
  {% endset %}

  {% if details.status == 'PENDING' %}
    {% set downloadDisabled = true %}
  {% else %}
    {% set downloadDisabled = false %}
  {% endif %}

  {{ govukSummaryList({
    rows: [
      {
        key: {
          text: "ID"
        },
        value: {
          text: details.id
        }
      },
      {
        key: {
          text: "Jira reference"
        },
        value: {
          html: jiraLink | safe
        }
      },
      {
        key: {
          text: "Date requested"
        },
        value: {
          text: details.requestDateTime | formatBulkUserRolesDate
        }
      },
      {
        key: {
          text: "Requested by"
        },
        value: {
          text: details.requestedBy
        }
      },
      {
        key: {
          text: "Processing status"
        },
        value: {
          html: details.status
        }
      },
      {
        key: {
          text: "Total additions"
        },
        value: {
          html: details.totalCount
        }
      },
      {
        key: {
          text: "Successful"
        },
        value: {
          text: details.successCount
        }
      },
      {
        key: {
          text: "Errored"
        },
        value: {
          text: details.errorCount
        }
      }
    ]
  }) }}

  <div class="pull-right">
    <form id="downloadResultsForm" method="GET" action="/view-bulk-role-changes/requests/{{details.id}}/download">
      {{ govukButton({
        id: "downloadResultsButton",
        text: "Download results",
        element: "button",
        type: "submit",
        preventDoubleClick: true,
        classes: "govuk-button downloadButton",
        attributes: { "data-qa": "download" },
        disabled: downloadDisabled
      }) }}
    </form>
  </div>


{% endblock %}