---
# Environment specific values, override helm_deploy/hmpps-manage-users/values.yaml

generic-service:
  ingress:
    host: manage-users.hmpps.service.justice.gov.uk

  env:
    MANAGE_USERS_API_ENDPOINT_URL: https://manage-users-api.hmpps.service.justice.gov.uk
    HMPPS_AUTH_URL: https://sign-in.hmpps.service.justice.gov.uk/auth
    DPS_ENDPOINT_URL: https://digital.prison.service.justice.gov.uk
    HMPPS_COOKIE_NAME: hmpps-session-prod
    HMPPS_COOKIE_DOMAIN: manage-users.hmpps.service.justice.gov.uk
    MANAGE_HMPPS_USERS_URL: https://manage-users.hmpps.service.justice.gov.uk
    TOKEN_VERIFICATION_API_URL: https://token-verification-api.prison.service.justice.gov.uk
    SUPPORT_URL: https://support.hmpps.service.justice.gov.uk
    ROLE_REMOVAL_SERVICE_NOW_LINK: https://mojprod.service-now.com/moj_sp?id=sc_cat_item&sys_id=0768a0d71b81fe103393a797b04bcb8b&table=sc_cat_item&searchTerm=dps%20-%20role
    MANAGE_USER_ALLOW_LIST_ENABLED: false

# CloudPlatform AlertManager receiver to route prometheus alerts to slack
generic-prometheus-alerts:
  alertSeverity: hmpps_tech
